@model RentAndGo.Models.KorisnikSaNalogom

@{
    ViewData["Title"] = "Create";
}

<style>
    .btn-primary {
        width: 50%;
    }
    
</style>
<div />
<p class="text-danger" style="text-align: center; font-style: italic; font-weight: bold">REGISTRACIJA </p>
<p class ="text-center" style="color: black">Brzo i jednostavno.</p> 
<h2 class="text= alert-heading" style="text-align: center"> Molimo unesite Vaše podatke! </h2>
<div />
<hr />
<div class="row" style="justify-content: center">
    <div class="col-md-12; border border-primary" style="padding: 30px; width: 50%">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" type="Password" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojTelefona" class="control-label"></label>
                <input asp-for="BrojTelefona" class="form-control" />
                <span asp-validation-for="BrojTelefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojVozackeDozvole" class="control-label"></label>
                <input asp-for="BrojVozackeDozvole" class="form-control" />
                <span asp-validation-for="BrojVozackeDozvole" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center">
                <input type="submit" value="Nastavi" class="btn btn-primary" />
            </div>
            <div style="text-align: center">
                <a asp-controller="Prijava" asp-action="Create">Već posjedujete račun?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
