@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>
    Poštovani,
</p>

<p>
    Zadovoljstvo nam je predstaviti Vam kompaniju Rent and go. koja Vam nudi poslovnu uslugu u domenu pružanja rent-a-car usluga, te svih vidova transporta.
</p>
<p>
    Rent and Go je osnovan u martu 2021. godine u Sarajevu.
</p>
<p>
    Pružanjem visoko profesionalne usluge uz postojeći kvalitetan, pouzdan vozni park gradimo svoj imidž. Motiv našeg poslovanja je zadovoljan klijent, faktor koji potstiče Rent And Go Team na usavršavanje svoje usluge prema svakom klijentu.
</p>
<p>
    Rent and Go karakteriše kvalitet voznog parka, cijene i uslovi za najam, te ljubazni uposlenici uvijek spremni da odgovore na zahtjeve klijenata. Uslugu rezervacija vozila nudimo u nekoliko poslovnica širom BiH. Uz najam vozila je moguć i najam profesionalnih i ljubaznih vozača koji će vaš dolazak do krajnjeg cilja učiniti sigurnim i prijatnim.
</p>
<p>
    Temelji našeg poslovanja su iskrenost, integritet i poštenje. Za postizanje i održavanje kvaliteta usluge neprestano ulažemo u razvoj svog tima i prilagođavanje naših usluga vašim potrebama.
</p>

<p>
    Nadamo se da ćete prepoznati potrebe za Rent and go uslugom i potvrditi mišljenje naših dosadašnjih zadovoljnih klijenata a mi ćemo se potruditi da opravdamo Vaše povjerenje.
</p>

<p>
    Srdačan pozdrav,
</p>
<h3>Vaš RENT AND GO</h3>
