@model ImplementacijaRentAndGo.Models.IznajmljivanjeVozac
@{
    ViewData["Title"] = "Create";
}


@{
    ViewBag.Title = "Index";
}

<style>
    #prikaz-slika-vozila {
        width: 100%;
        height: auto;
    }
</style>

@{
    var data = ViewBag.Message;
}
@*<h3>ImeVozila: @data.ImeVozila</h3>
    <h3>SlikaVozila: @data.SlikaVozila</h3>*@


<h3>@data.ImeVozila</h3>
<hr />
<form asp-action="Create">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img id="prikaz-slika-vozila" src=@data.SlikaVozila class="rounded" alt="slika vozila">
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Iznajmljivanje.DatumPreuzmanja" class="control-label">Datum Preuzmanja</label>
                    <input asp-for="Iznajmljivanje.DatumPreuzmanja" class="form-control" />
                    <span asp-validation-for="Iznajmljivanje.DatumPreuzmanja" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Iznajmljivanje.Lokacija" class="control-label">Lokacija</label>
                    <select asp-for="Iznajmljivanje.Lokacija" class="form-control disabled" asp-items="Html.GetEnumSelectList<Lokacija>()" disabled>
                        <option selected="selected" value=@data.Lokacija>@data.Lokacija</option>
                    </select>
                    <span asp-validation-for="Iznajmljivanje.Lokacija" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Iznajmljivanje.DatumVracanja" class="control-label">Datum Vracanja</label>
                    <input asp-for="Iznajmljivanje.DatumVracanja" class="form-control" />
                    <span asp-validation-for="Iznajmljivanje.DatumVracanja" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</form>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
